/* Reset settings */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

body a {
    text-decoration: none;
    color: black;
}

/* Header */

header {
    background-color: #C7A6DB;
    padding: 0;
}

.header {
    height: 80px;
}

.menubar {
    background-color: #B77ADC;
    font-weight: bold;
}

.menubar a {
    color: black;
    padding: 5px;
}

.nav-item img {
    width: 30px;
}

.nav-item {
    display: flex;
    align-items: center;
    margin-right: 50px;
}

/* Agendamento */

#tb-agenda {
    padding:30px 100px;
}

/* Lista de alunos */

.aluno {
    height: 100px;
    width: 600px;
    background-color: #B77ADC;
    border-radius: 10px;
}

.left {
    margin-left: 10px;
}

.registrar {
    margin: 10px 0 10px 0;
}

.dtvencimento {
    margin-left: 60px;
}


/* Footer */

footer {
    text-align: center;
    background-color: #C7A6DB;
    color: black;
    padding: 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
    top: auto; /* Define 'top' como 'auto' para iniciar o 'sticky' quando o footer atingir o topo da página */
}

footer p {
    margin-bottom: 0;
}

.grid-lay {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    border-top: 1px solid black;
    border-right: 1px solid black;
}

.grid-lay > span {
    padding: 8px 4px;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}


/* .tabelaEditavel {
    border:solid 1px;
    width:100%
}

.tabelaEditavel td {
    border:solid 1px;
}

.tabelaEditavel .celulaEmEdicao {
    padding: 0;
}

.tabelaEditavel .celulaEmEdicao input[type=text]{
    width:100%;
    border:0;
    background-color:rgb(255,253,210);
} */